{% load static %}

<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'resetpass.css' %}">
    <title>Reset Password</title>
</head>
<body>
    <div class="navbar">
	<a href="/">Home</a>
	<a href="{% url 'about' %}">About</a>
	<a href="/userlogin">Banking</a>
	<a href="/userlogin">Finance</a>
    <a href="{% url 'ourteam' %}">Our Team</a>
    <a href="{% url 'userlogin' %}" class="right">Login/Signup</a>
    </div>


    <div class="container">
        <p>Reset Password</p>
        <form method="post">
            {% csrf_token %}
                {{form.email}}<br><br>
           <input type="submit" value="Reset My password">
        </form>
    </div>

    <script>
        var form_fields =document.getElementsByTagName('input')
        form_fields[1].placeholder='Email';
    </script>

</body>
</html>